/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/* html { scroll-behavior: smooth; } */

body {
    font-family: "Lato", sans-serif;
    font-size: 17.5px;
  }
  body.active {
    overflow: hidden;
    z-index: -1;
  }
  .no-js #experience-timeline > div {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9;
  }
  .no-js #experience-timeline > div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0;
  }
  .no-js #experience-timeline > div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
  }
  .no-js #experience-timeline > div p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
  }
  .no-js #experience-timeline:before,
  .no-js #experience-timeline:after {
    content: none;
  }
  @keyframes dropHeader {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
  }
  header ul {
    display: inline-block;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  header li {
    display: inline-block;
  }
  header a {
    display: block;
    color: #3498db;
    padding: 10px;
  }
  header a:hover {
    color: #217dbb;
    text-decoration: none;
    background: #eee;
    border-radius: 4px;
  }
  header a:focus {
    color: #3498db;
    text-decoration: none;
  }
  header.active {
    display: block;
  }
  header.sticky {
    position: fixed;
    z-index: 999;
  }
  #menu.active {
    display: block;
  }
  #mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #3498db;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff;
  }
  #mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #fff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #3498db;
  }
  #mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase;
  }
  #mobile-menu-close i {
    vertical-align: middle;
  }
  footer {
    padding: 50px 0;
  }
  .copyright {
    padding-top: 20px;
  }
  .copyright p {
    margin: 0;
    color: #74808a;
  }
  .top {
    text-align: center;
  }
  .top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center;
  }
  .top i {
    color: #74808a;
  }
  .social {
    text-align: right;
  }
  .social ul {
    margin: 5px 0 0 0;
    padding: 0;
  }
  .social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
  }
  .social a {
    display: block;
    color: #74808a;
    padding: 10px;
  }
  .social a:hover {
    color: #3498db;
  }
  
  .btn-rounded-blue {
    display: inline-block;
    color: #3498db;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 15px 25px;
    border: 3px solid #3498db;
    border-radius: 30px;
    transition: 0.5s ease all;
  }
  .btn-rounded-blue:hover {
    background: #3498db;
    color: #fff;
    text-decoration: none;
  }
  .btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: 0.5s ease all;
  }
  .btn-rounded-white:hover {
    color: #3498db;
    background: #fff;
    text-decoration: none;
  }
  
  .shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
  }
  .heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
  }
  .heading:after {
    position: absolute;
    content: "";
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
  }
  .background-alt {
    background: #f2f2f5;
  }
  #profilepicture {
    display: inline-block;
    width: 275px;
    height: 275px;
  }
  
  #lead {
    position: relative;
    height: 100vh;
    min-height: 700px;
    max-height: 1080px;
    background: url(../images/lead-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 15px;
    overflow: hidden;
    width: 100vw;
  }
  #lead h5 {
    color: #c5c9f3;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 15px;
  }
  #lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 45%;
    transform: translate(-40%, -50%);
    text-align: center;
  }
  #lead-content h1,
  #lead-content h2 {
    margin: 0;
  }
  #lead-content h1 {
    color: #fff;
    font-weight: 900;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
  }
  #lead-content h2 {
    color: #cbe9fa; /* #a0cfee; */
    font-weight: 500;
    font-size: 1.75em;
    margin-bottom: 15px;
  }
  #lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33, 125, 187, 0.8);
    z-index: 1;
  }
  #lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: #fff;
  }
  #lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #a0cfee;
    text-align: center;
  }
  #lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  #about {
    padding: 75px 15px;
    border-bottom: 1px solid #dcd9d9;
  }
  #about h2 {
    color: #374054;
  }
  
  #about ul li {
    color: #74808a;
    font-size: 1em;
    margin: 0;
    text-align: left;
  }
  
  #about p {
    color: #74808a;
    margin: 0 0 15px 0;
    font-size: 1em;
  }
  #experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
  }
  #experience h2 {
    color: #374054;
  }
  #experience ul {
    color: #74808a;
    font-size: 0.9em;
  }
  #experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
  }
  #experience-timeline:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 204px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #3498db;
    z-index: 0;
  }
  #experience-timeline:after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db, rgba(52, 152, 219, 0));
    top: 100%;
    left: 204px;
  }
  .vtimeline-content {
    margin-left: 260px;
    background: #e7f5fd;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left;
  }
  .vtimeline-content img {
    /*display: inline-block;*/
    margin: 12px 3px 0 0px;
    min-height: 50px;
    min-width: 50px;
    max-width: 100px;
    width: 80%;
  }
  .vtimeline-content__co_title {
    display: inline-block;
  }
  .vtimeline-content__co_image {
    padding: 0px 0px 0px 5px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
  }
  .vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 10px 0 0 0;
  }
  .vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
  }
  .vtimeline-content h5 {
    font-size: 1em;
    font-weight: 400;
    color: #7e8890;
    margin: 0 0 10px 10px;
  }
  .vtimeline-content p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0 0 10px 10px;
  }
  .vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
  }
  .vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #3498db;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 180px;
  }
  .vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
  }
  .vtimeline-date {
    width: 170px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054;
  }
  
  #education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
    margin-right: 0;
    border-top: 1px solid #e6e9ec;
  }
  
  #education h2 {
    color: #374054;
    margin-bottom: 50px;
  }
  
  .education-entity {
    margin: 0 auto 30px auto;
    display: flex;
    border: 1px solid #dcd9d9;
    padding: 16px 0;
    background: #fff;
    max-width: 800px;
  }
  
  .education-entity__header {
    width: 19%;
    padding-left: 5px;
  }
  
  .education-entity__member {
    display: block;
    overflow: auto;
    text-decoration: none;
  }
  
  a.education-entity__member {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-bottom: 0px #fff;
  }
  
  /* image settings */
  .education-entity img {
    width: 70%;
    height: 70%;
    min-height: 40px;
    min-width: 40px;
  }
  
  .education-entity__highlights {
    width: 81%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }
  
  .education-entity__text {
    width: 67%;
    text-align: left;
  }
  
  .education-entity__text h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: #374054;
  }
  
  .education-entity__text h4 {
    color: #74808a;
    font-weight: 500;
    margin: 0 0 15px 0;
    clear: both;
    font-size: 0.9em;
  }
  .education-entity__text p,
  .education-entity__text ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em;
  }
  .education-entity__text ul {
    padding: 0 0 0 15px;
  }
  
  .education-entity__dates {
    width: 33%;
    color: #74808a;
    font-weight: 500;
    vertical-align: text-top;
    text-align: top;
    margin: 3px 0 0 0;
    float: right;
    font-size: 0.9em;
  }
  
  #projects {
    padding: 50px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
  }
  #projects h2 {
    color: #374054;
    margin-bottom: 50px;
  }
  .project {
    position: relative;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    /*height: 100%;*/
  }
  .project-category {
    float: left;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    height: 100%;
    /* bottom left top right */
    padding: 0px 0px 0px 0px;
    /* x right x left */
    margin: 0 5px 0 0;
  }
  
  .project-category p {
    position: relative;
    left: 0;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    /* bottom left top right */
    padding: 0px 2px 0px 5px;
    /* x right x left */
    margin: 0 5px 0 0;
    border: 1px;
    border-color: #374054;
    border-style: solid;
  }
  
  .project-image {
    float: left;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
  
    /*
    width: 200px;
    height: 400px;*/
  
    min-width: 50px;
    min-height: 50px;
    max-width: 100%;
    max-height: 100%;
  }
  .round-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    height: 290px;
    width: 290px;
  }
  
  .square-img {
    margin: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    height: auto;
    width: 270px;
  }
  
  .project-info {
    /*/position: absolute;*/
    /*
    top: 50%;
    transform: translateY(-50%); */
    /* margin-left: 380px;*/
  
    padding: 35px 5px 15px 0px;
  }
  .project-info h3 {
    font-size: 1.45em;
    font-weight: 400;
    color: #374054;
    margin: 0 0 10px 0;
  }
  .project-info h4 {
    font-size: 1em;
    font-weight: 500;
    color: #374054;
    margin: 0px 0 12px 0;
  }
  
  .project-info p {
    color: #74808a;
    margin: 0 -25px 15px 0;
  }
  .no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none;
  }
  .project-methods-and-tech {
    padding: 8px 0px 15px 0px;
    margin: 0 -15px 0px 0;
  }
  
  .small-round-img {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
    border: 0px solid #ccc;
    margin: 0 0 0 0;
  }
  
  .small-square-img {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-style: none;
    border: 0px solid #ccc;
    margin: 0 0 0 0;
  }
  
  .project-methods-and-tech h5 {
    font-size: 0.95em;
    font-weight: 500;
    color: #374054;
    margin: 0 0 8px 0;
  }
  
  .project-links {
    /*align-content: center;*/
    font-size: 0.95em;
    margin: 0 -50px 0px 0;
    padding: 0px 0px 8px 0px;
  }
  
  .lnk-blue {
    display: inline-block;
    color: #337ab7;
    margin: -1px 2px 2px -3px;
    padding: 3px 4px 1px 4px;
    border-bottom: 0px solid #337ab7; /*#3498db;*/
    /*border-radius: 6px;*/
    /*transition: 0.1s ease all;*/
  }
  
  .lnk-blue:hover {
    background: #337ab7f0;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
  }
  /*background: #000000b0;*/
  
  .lnk-blue-no-hoover {
    display: inline-block;
    color: #337ab7;
    margin: -1px 2px 2px -3px;
    padding: 3px 4px 1px 4px;
    border-bottom: 0px solid #337ab7; /*#3498db;*/
    /*border-radius: 6px;*/
    /*transition: 0.1s ease all;*/
  }
  
  #more-projects {
    display: none;
  }
  
  #teaser-unbreak {
    display: none;
  }
  
  #teaser-firebert {
    display: none;
  }
  
  #teaser-flights-and-weather {
    display: none;
  }
  
  #teaser-causes-of-death {
    display: none;
  }
  
  #teaser-excess-deaths {
    display: none;
  }
  
  #teaser-malware {
    display: none;
  }
  
  #teaser-data-engineering {
    display: none;
  }
  
  #teaser-berkeley-data {
    display: none;
  }
  
  #skills {
    padding: 50px 15px;
    text-align: center;
  }
  #skills h2 {
    color: #374054;
    margin-bottom: 50px;
  }
  #skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
  }
  #skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #cbe9fa;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
  }
  #contact {
    padding: 50px 15px;
    background: #3498db;
    text-align: center;
  }
  #contact h2 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500;
  }
  #contact h3 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500;
  }
  #contact p {
    color: #fff; /* #a0cfee; */
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 15px;
  }
  #contact-form {
    max-width: 500px;
    margin: 0 auto;
  }
  #contact-form input,
  #contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(206, 212, 218);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(206, 212, 218);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
  
    /*
  
    display: block;
    width: 100%;
  
    border: none;
  
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.7);
    transition: 0.5s ease all; */
    /*background: #1d6fa5;*/
    /*color: #fff; */
  }
  #contact-form input::-webkit-input-placeholder,
  #contact-form textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
  }
  #contact-form input:-moz-placeholder,
  #contact-form textarea:-moz-placeholder {
    color: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
  #contact-form input::-moz-placeholder,
  #contact-form textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
  #contact-form input:-ms-input-placeholder,
  #contact-form textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
  }
  #contact-form input:focus,
  #contact-form textarea:focus {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(206, 212, 218);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(206, 212, 218);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    /*
    outline: none;
    background: #e1f2f9;
    */
  }
  
  #contact-form textarea {
    height: 150px;
    resize: none;
  }
  #contact-form button {
    display: block;
    width: 100%;
    /*  background: #fff; */
    background: #01a9ed;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    /*  color: #3498db;*/
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s ease all;
  }
  #contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .optional-section {
    padding: 50px 15px;
    text-align: center;
    border-top: 1px solid #dcd9d9;
  }
  .optional-section h2 {
    color: #374054;
  }
  .optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    background: #fff;
    text-align: left;
  }
  .optional-section-block h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #374054;
  }
  .optional-section-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
  }
  .optional-section-block p,
  .optional-section-block ul {
    margin: 0 0 15px 0;
    color: #74808a;
    font-size: 0.9em;
  }
  .optional-section-block ul {
    padding: 0 0 0 15px;
  }
  
  @media only screen and (max-width: 1999px) {
  }
  
  @media only screen and (max-width: 1499px) {
    .project {
      max-width: 968px;
    }
    .project-info {
      font-size: 0.95em;
    }
    .round-img {
      height: 270px;
      width: 270px;
    }
  
    .square-img {
      height: auto;
      width: 240px;
    }
  
    .method-img {
      width: 35px;
      height: 35px;
    }
  
    .tech-img {
      width: 35px;
      height: 35px;
    }
  }
  
  @media only screen and (max-width: 999px) {
    #lead {
      height: auto;
      min-height: auto;
      max-height: auto;
      padding: 100px 15px;
    }
    #lead-content {
      position: relative;
      transform: none;
      left: auto;
      top: auto;
    }
    #lead-content h1 {
      font-size: 3em;
    }
    #lead-content h2 {
      font-size: 1.75em;
    }
    #about {
      text-align: center;
    }
    #about p {
      text-align: left;
    }
    .project-info {
      font-size: 0.9em;
    }
    .project-links {
      font-size: 0.9em;
    }
  
    .round-img {
      height: 200px;
      width: 200px;
    }
    .square-img {
      height: auto;
      width: 210px;
    }
  
    .vtimeline-content {
      font-size: 0.95em;
    }
  }
  
  @media only screen and (max-width: 768px) {
    header {
      position: fixed;
      display: none;
      z-index: 999;
      animation: none;
      bottom: 0;
      height: 100%;
    }
    #mobile-menu-open,
    #mobile-menu-close {
      display: block;
    }
    #menu {
      height: 100%;
      overflow-y: auto;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
    }
    #menu li {
      display: block;
      margin-bottom: 10px;
    }
    #lead-content h1 {
      font-size: 2em;
    }
    #lead-content h2 {
      font-size: 1.3em;
    }
    #lead-content a {
      padding: 10px 20px;
    }
    #lead-down {
      display: none;
    }
  
    .project-image {
      display: none;
    }
    .project-info {
      position: relative;
      margin: 0;
      padding: 10px 15px;
      top: auto;
      transform: none;
    }
    .project-info p {
      margin: 0 0 15px 0;
    }
  
    .project-category {
      position: relative;
      width: 100%;
      text-align: left;
      padding: 0;
      overflow: visible;
    }
  
    .project-category p {
      position: relative;
      width: 100%;
      height: auto;
      writing-mode: horizontal-tb;
      transform: rotate(0deg);
      padding: 2px 0px 2px 10px;
      margin: 0 0px 5px 0px;
    }
  
    .project-links {
      margin: 0 -25px 0px 0;
    }
    footer {
      text-align: center;
    }
    .social {
      text-align: center;
    }
  }
  @media only screen and (max-width: 750px) {
    #experience-timeline:before,
    #experience-timeline:after {
      left: 23px;
    }
    .vtimeline-date {
      width: auto;
      text-align: left;
      position: relative;
      margin-bottom: 15px;
      display: block;
      margin-left: 70px;
    }
    .vtimeline-icon {
      margin-left: 0;
    }
    .vtimeline-content {
      margin-left: 70px;
    }
    /*
    .pv-recommendation-entity__text {
      font-size: 0.75em;
    }
    .pv-recommendation-entity__detail {
      font-size: 0.75em;
    }
    */
  
    #recommendations ul {
      list-style: none;
      padding-left: 0;
      padding-bottom: 25px;
    }
  
    .pv-recommendation-entity {
      display: inline-block;
      border-top: 2px solid #e6e9ec;
      padding: 25px 0;
    }
  
    .pv-recommendation-entity__header {
      width: 100%;
    }
    .pv-recommendation-entity__member {
      padding: 10px 20% 10px 20%;
    }
  
    .pv-recommendation-entity__highlights {
      width: 100%;
      /*padding: 10px 5% 10px 5%;*/
    }
  }
  
  @media only screen and (max-width: 480px) {
    .project-category-image {
      display: none;
    }
    #lead-content h1 {
      font-size: 1.5em;
    }
    #lead-content h2 {
      font-size: 1em;
    }
    #lead-content a {
      font-size: 0.9em;
      padding: 5px 10px;
    }
  
    #education {
      font-size: 0.9em;
    }
    #skills {
      font-size: 0.9em;
    }
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
  }
  .tooltip img {
    opacity: 0.6;
    /*border-bottom: 1px dotted black;*/
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000000b0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip:hover img {
    opacity: 1;
  }
  
  /* Icon Down */
  @-webkit-keyframes hvr-icon-down {
    0%,
    50%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%,
    75% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-down {
    0%,
    50%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%,
    75% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  /* Icon Down */
  .hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-icon-down .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-down:hover .hvr-icon,
  .hvr-icon-down:focus .hvr-icon,
  .hvr-icon-down:active .hvr-icon {
    -webkit-animation-name: hvr-icon-down;
    animation-name: hvr-icon-down;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  
  /* Icon Hang */
  @-webkit-keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-hang-sink {
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  .hvr-icon-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-hang .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-hang:hover .hvr-icon,
  .hvr-icon-hang:focus .hvr-icon,
  .hvr-icon-hang:active .hvr-icon {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: 0.3s, 1.5s;
    animation-duration: 0.3s, 1.5s;
    -webkit-animation-delay: 0s, 0.3s;
    animation-delay: 0s, 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  
  .tile {
    float: left;
    width: 400px;
    margin: 10px;
    cursor: pointer;
    height: 400px;
    background-color: #eee;
  }
  .tile:hover {
    background-color: #f5f5cd;
  }
  .tile span {
    display: block;
  }
  .tile.expand {
    clear: both;
    float: none;
    width: auto;
    height: auto;
    max-width: 940px;
    background-color: #ccc;
  }
  .tile.expand:hover {
    background-color: #999;
  }
  .tile.expand span {
    line-height: 400px;
  }